table td table td {
    text-align: left;
    vertical-align: middle;
    padding-right: 10px;
    
}
th {
    font-weight: bold;
    // font-size: 1.2em;
    text-align: left;
}

.setup-bars-col {
    width:550px;
}
.breakout-col {
    width: 435px;
}

.exit-col {
    width: 435px;
}
.summary-col {
    width: 435px;
}