<mat-sidenav-container class="main-sidenav">
  <mat-sidenav #sidenav class="main-sidenav-drawer" [opened]="true" [mode]="'side'" [position]="'start'">
    <mat-nav-list>
      <a mat-list-item routerLink="./trade-list">
        <mat-icon matListIcon>folder</mat-icon>
        <h4 matLine>Alpha Long Results</h4>
      </a>
      <a mat-list-item routerLink="./intraday-test">
          <mat-icon matListIcon>polymer</mat-icon>
          <h4 matLine>Intraday Test</h4>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <div class="main-sidenav-content">
    <mat-toolbar color="accent">
      <button mat-mini-fab color="warn" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>&nbsp;&nbsp;
      <span>Trade List</span>
    </mat-toolbar>
    <router-outlet>

    </router-outlet>
  </div>

</mat-sidenav-container>